<app-header titulo="Configuraciones"></app-header>

<!-- ------------------ Contenido de listado de clientes ------------------- -->
<ion-content>

  <div class="col-12 text-center" style="background-color: #fff; color: black">

    <ion-list >

      <ion-item  class="background-color" >

          <p style="color: red;">imagen</p>

      </ion-item>
      <ion-item  class="background-color" >

        <p style="color: red;">correo</p>

    </ion-item>
    <ion-item  class="background-color" >

      <p style="color: red;">teléfono</p>

  </ion-item>
  <ion-item  class="background-color" >

    <p style="color: red;">contraseña</p>

</ion-item>

    </ion-list>

  </div>

</ion-content>
<!-- ----------------------------------------------------------------------- -->

