<ion-content>

  <div id="Principal" class="row">

      <div class="col-12 cont_user">

        <div class="carousel-inner ">

          <div class="carousel-item active">
            <div class="row b_c body avatar">

              <div class="img-user">
               
              </div>

              <div class="col-12 p-0 d-flex justify-content-center welcome">
                <div class="row w-100">
                  <p class="p-0 m-0 p_wel">Bienvenido</p>
                </div>
              </div>

              <div class="col-12 p-0 d-flex justify-content-center user">
                <div class="row w-100">
                  <h4 class="p-0 p_use">Usuario</h4>
                </div>
              </div>

            </div>

          </div>

          <div class="carousel-item " >
            <div class="row b_c body ">

                <div class="col-12 p-0 d-flex justify-content-center welcome">
                  <div class="row w-100">
                    <p class="p-0 m-0 p_wel">Proximos eventos</p>
                  </div>
                </div>

              </div>

          </div>

          <div class="carousel-item">
            <div class="row b_c body ">

              <div class="col-12 p-0 d-flex justify-content-center welcome">
                <div class="row w-100">
                  <p class="p-0 m-0 p_wel">Metas</p>
                </div>
              </div>


            </div>

          </div>

        </div>

      </div>
      <div class="col-12 add-client">
        <p class="find_advance "  id="open-modal" expand="block">
          <i class="fas fa-plus-circle" style="margin-right: 10px;"></i> 
          <span style="padding-top: 2px;"> Agregar Cliente</span>
        </p>
      </div>
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" class="b_c">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()"  class="color-back">Cancelar</ion-button>
              </ion-buttons>
              <ion-title>Agregar Cliente</ion-title>
             
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-label position="stacked">Nombre*</ion-label>
              <ion-input type="text" placeholder="nombre" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">correo electrónico</ion-label>
              <ion-input type="text" placeholder="emial" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">telefono 1</ion-label>
              <ion-input type="text" placeholder="telefono" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">telefono 2</ion-label>
              <ion-input type="text" placeholder="telefono" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">telefono 3</ion-label>
              <ion-input type="text" placeholder="telefono" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Tipo de cliente*</ion-label>
              <ion-input type="text" placeholder="" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Propiedades de inerés*</ion-label>
              <ion-input type="text" placeholder="" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Forma de contacto*</ion-label>
              <ion-input type="text" placeholder="" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Agente comercial*</ion-label>
              <ion-input type="text" placeholder="" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Comentarios</ion-label>
              <ion-input type="text" placeholder="" [(ngModel)]="name"></ion-input>
            </ion-item>
            <div class="col-12 btn-add">
              <ion-buttons >
                <ion-button (click)="confirm()" [strong]="true" class="color-back">Registrar cliente</ion-button>
              </ion-buttons>
            </div>
           
          </ion-content>
        </ng-template>
      </ion-modal>

      <div class="col-12 cont_nav">
        <div class="row body">

          
          <div class="col-4 section_" style="margin-bottom: 25px;">
            <div class="btn-nav h-100" routerLink="/client-list">
           
              <i class="fas fa-user-friends"></i>
              <p> Lista de clientes</p>
            </div>
          </div>

          <div class="col-4 section_">

            <div class="btn-nav h-100" routerLink="/sales-funnel">
              
              <i class="fas fa-filter"></i>
              <p>Embudo de ventas</p>
            </div>
          </div>

          
          <div class="col-4 section_">
            <div class="btn-nav h-100" routerLink="/calendar">
              <div>
                <i class="fas fa-calendar-alt"></i>
              </div>
              
              <p>Calendario</p>
            </div>
          </div>

        
          <div class="col-4 section_">
            <div class="btn-nav h-100" routerLink="/properties">
              
              <i class="fas fa-home-lg"></i>
              <p>Propiedades</p>
            </div>
          </div>
          <div class="col-4 section_">
            <div class="btn-nav h-100" routerLink="/developments">
              
              <i class="fas fa-city"></i>
              <p>Desarrollos</p>
            </div>
          </div>
          <div class="col-4 section_">
            <div class="btn-nav h-100" routerLink="/settings">
              
              <i class="far fa-cog"></i>
              <p>Configuración</p>
            </div>
          </div>
        </div>
      </div>

  </div>

</ion-content>
