<ion-content>

  <div id="Principal" class="row h-100 p-0">

      <div class="col-12 cont_user">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">°</li>
          </ol>
          <div class="carousel-inner b_c">
            <div class="carousel-item active">
              <div class="row b_c body avatar">

                <div class="img-user">
                  <div class="icon-edit" routerLink="/user-settings">
                    <i class="far fa-pen"></i>
                  </div>
                </div>

                <div class="col-12 p-0 d-flex justify-content-center welcome">
                  <div class="row w-100">
                    <p class="p-0 m-0 p_wel">Bienvenido</p>
                  </div>
                </div>

                <div class="col-12 p-0 d-flex justify-content-center user">
                  <div class="row w-100">
                    <h4 class="p-0 p_use">Usuario</h4>
                  </div>
                </div>

              </div>

            </div>

            <div class="carousel-item">
              <div class="row b_c body ">

                  <div class="col-12 p-0 d-flex justify-content-center welcome">
                    <div class="row w-100">
                      <p class="p-0 m-0 p_wel">Proximos eventos</p>
                    </div>
                  </div>

                </div>

            </div>

            <div class="carousel-item">
              <div class="row b_c body ">

                <div class="col-12 p-0 d-flex justify-content-center welcome">
                  <div class="row w-100">
                    <p class="p-0 m-0 p_wel">Metas</p>
                  </div>
                </div>


              </div>

            </div>

          </div>
        </div>

        <div class="row footer" >
          <div class="col-12 h-100 p-0 d-flex justify-content-center">
       
           
          </div>
        </div>

      </div>

      <div class="col-12 cont_nav">
        <div class="row body">
          <div class="col-4 section_1">

            <div class="btn-nav h-100" routerLink="/sales-funnel">
              <div class="icon_">
                <i class="fas fa-filter"></i>
              </div>

              <p>Embudo de ventas</p>
            </div>
          </div>
          <div class="col-4 section_1">
            <div class="btn-nav h-100" routerLink="/properties">
              <div class="icon_">
                <i class="fas fa-home-lg"></i>
              </div>

              <p>Propiedades</p>
            </div>
          </div>
          <div class="col-4 section_1">
            <div class="btn-nav h-100" routerLink="/developments">
              <div class="icon_">
                <i class="fas fa-city"></i>
              </div>

              <p>Desarrollos</p>
            </div>
          </div>
          <div class="col-4 section_2">
            <div class="btn-nav h-100" routerLink="/calendar">
              <div class="icon_">
                <i class="fas fa-calendar-alt"></i>
              </div>

              <p>Calendario</p>
            </div>
          </div>
          <div class="col-4 section_2">
            <div class="btn-nav h-100" routerLink="/client-list">
              <div class="icon_">
                <i class="fas fa-user-friends"></i>
              </div>

              <p> Lista de clientes</p>
            </div>
          </div>
          <div class="col-4 section_2">
            <div class="btn-nav h-100" routerLink="/messages">
              <div class="icon_">
                <i class="fas fa-envelope"></i>
              </div>

              <p>Mensajes</p>
            </div>
          </div>
        </div>
      </div>

  </div>

</ion-content>
