<!-- ----------------------------- Encabezado ------------------------------ -->
  <app-header titulo="Lista de clientes"></app-header>
<!-- ----------------------------------------------------------------------- -->

<!-- -------------------------- Busqueda avanzada -------------------------- -->
  <div class="col-12 text-center" style="background-color: #fff; color: black; padding: 0 40px;">
    <h5 class="find_advance"  routerLink="/search-client"> Búsqueda avanzada</h5>
    <p class="m-0 info-find">Da click para realizar una busqueda avanzada.</p>
  </div>
<!-- ----------------------------------------------------------------------- -->

<!-- ------------------ Contenido de listado de clientes ------------------- -->
  <ion-content>

    <div class="col-12 text-center" style="background-color: #fff; color: black">

      <ion-list >

        <ion-item  class="background-color" *ngFor="let cliente of cliens">

            <ion-label class="color">

              <div class="row" routerLink="/card-client">

                <div class="col-10">
                  <p class="m-0" style="font-weight: 800;">{{cliente.nombre}}</p>
                  <p class="m-0"> {{cliente.desarrollo}}</p>
                  <p class="m-0">{{cliente.telefono}}</p>
                </div>

                <div class="col-2 pt-2">
                  <p *ngIf=" cliente.etapa == '1' " class=" et_ t_1">OP</p>
                  <p *ngIf=" cliente.etapa == '2' " class=" et_ t_2">TA</p>
                  <p *ngIf=" cliente.etapa == '3' " class=" et_ t_3">NA</p>
                  <p *ngIf=" cliente.etapa == '4' " class=" et_ t_4">PR</p>
                  <p *ngIf=" cliente.status == 'Activo' " class=" et_ t_5">AC</p>
                  <p *ngIf=" cliente.status == 'Inactivo' " class=" et_ t_6">IT</p>
                  <p *ngIf=" cliente.status == 'Indefinido' " class=" et_ t_7">ID</p>
                </div>

              </div>

            </ion-label>

        </ion-item>

      </ion-list>

    </div>
    
  </ion-content>
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------- boton agregar cliente ----------------------- -->
  <div class="btn-add-client">
    <p class="find_advance_ "  id="open-modal-client-list" expand="block">
      <i class="fas fa-plus"></i>
    </p>
  </div>
<!-- ----------------------------------------------------------------------- -->

<!-- ------------------------- Barra de navegacion ------------------------- -->
  <ion-tabs class="navigationBar">

    <ion-tab-bar slot="bottom" class="cont-navigation">
      
      <ion-tab-button routerLink="/properties">
        <i class="fas fa-home-lg"></i>   
      </ion-tab-button>

      <ion-tab-button routerLink="/client-list">
        <i class="fas fa-user-friends"></i>  
      </ion-tab-button>

      <ion-tab-button routerLink="/sales-funnel">
        <i class="fas fa-filter"></i>  
      </ion-tab-button>

      <ion-tab-button routerLink="/calendar">
        <i class="fas fa-calendar-alt"></i>
      </ion-tab-button>
      
    </ion-tab-bar>

  </ion-tabs>
<!-- ----------------------------------------------------------------------- -->