<!-- ----------------------------- Encabezado ------------------------------ -->

<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button class="back_color"  text="" ></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize title-default"> Busqueda avanzada </ion-title>
      <ion-buttons slot="end" >

      </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ----------------------------------------------------------------------- -->

<!-- -------------------------- Contenido de card -------------------------- -->

<ion-content>

  <ion-list>

      <div class="row cont_input_  pt-3" style="background-color: #fff; color: black">

          <div class="col-12 text-center mb-2" >
              <div class="input-group">
                  <ion-input  class="search_" type="text" placeholder="nombre/correo/telèfono"></ion-input>
              </div>
          </div>
          <div class="col-12 text-center mb-2" >
              <div class="input-group">
                  <ion-label class="label_">Estatus</ion-label>
                  <div class="row">
                      <div class="col-6 text-start">
                          <ion-radio slot="start" value="Opotuno"  ></ion-radio>
                          <ion-label>Opotuno</ion-label>
                      </div>
                      <div class="col-6 text-start">
                          <ion-radio slot="start" value="Tardio"  ></ion-radio>
                          <ion-label>Tardio</ion-label>
                      </div>
                      <div class="col-6 text-start">
                          <ion-radio slot="start" value="No-atendido"  ></ion-radio>
                          <ion-label>No atendido</ion-label>
                      </div>
                      <div class="col-6 text-start">
                          <ion-radio slot="start" value="Por-reasignar"  ></ion-radio>
                          <ion-label>Por reasignar</ion-label>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-12 text-center mb-2" >
              <div class="input-group">
                  <ion-label class="label_">Estatus</ion-label>
                  <div class="row">

                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1"> 1
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1"> 2
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1"> 3
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1"> 4
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1"> 5
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1"> 6
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                          <label class="form-check-label" for="exampleRadios1"> 7
                          </label>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-12 text-center mb-2" >
              <div class="input-group">
                  <ion-label class="label_">Inmuebles</ion-label>
                  <ion-select placeholder="Seleccionar Propiedades"  >
                      <ion-select-option value="apples">Apples</ion-select-option>
                      <ion-select-option value="oranges">Oranges</ion-select-option>
                      <ion-select-option value="bananas">Bananas</ion-select-option>
                  </ion-select>
              </div>
          </div>

          <div class="col-12 text-center mb-2" >
              <div class="input-group">
              <ion-label class="label_">Desarrollos</ion-label>
              <ion-select placeholder="Seleccionar Desarrollos"   >
                  <ion-select-option value="apples">Apples</ion-select-option>
                  <ion-select-option value="oranges">Oranges</ion-select-option>
                  <ion-select-option value="bananas">Bananas</ion-select-option>
              </ion-select>

              </div>
          </div>

          <div class="col-12 btn-add">
              <ion-buttons >
                  <ion-button  [strong]="true" class="color-back">Buscar</ion-button>
              </ion-buttons>
          </div>

      </div>
      <ion-item>
          <label>Pizza</label>
          <select value="" id="select-chosen" chosen
          data-placeholder-text-single="'Pick one of these'"
          disable-search="true"
          allow-single-deselect="true">
              <option value="0" label="Afghanistan">Afghanistan</option>
              <option value="1" label="Åland Islands">Åland Islands</option>
              <option value="2" label="Albania">Albania</option>
              <option value="3" label="Algeria">Algeria</option>
              <option value="4" label="American Samoa">American Samoa</option>
              <option value="5" label="AndorrA">AndorrA</option>
              <option value="6" label="Angola">Angola</option>
              <option value="7" label="Anguilla">Anguilla</option>
              <option value="8" label="Antarctica">Antarctica</option>
              <option value="9" label="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="10" label="Argentina">Argentina</option>
              <option value="11" label="Armenia">Armenia</option>
              <option value="12" label="Aruba">Aruba</option>
              <option value="13" label="Australia">Australia</option>
              <option value="14" label="Austria">Austria</option>
              <option value="15" label="Azerbaijan">Azerbaijan</option>
              <option value="16" label="Bahamas">Bahamas</option>
          </select>
      </ion-item>

  </ion-list>


</ion-content>

<!-- ----------------------------------------------------------------------- -->

<!-- ------------------------- Barra de navegacion ------------------------- -->

<ion-tabs class="navigationBar">

  <ion-tab-bar slot="bottom" class="cont-navigation">

      <ion-tab-button routerLink="/properties">
          <i class="fas fa-home-lg"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/client-list">
          <i class="fas fa-user-friends"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/sales-funnel">
          <i class="fas fa-filter"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/calendar">
          <i class="fas fa-calendar-alt"></i>
      </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

<!-- ----------------------------------------------------------------------- -->
