<!-- ----------------------------- Encabezado ------------------------------ -->

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" >
        <ion-back-button class="back_color" defaultHref="/client-list" text="" ></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize title-default"> card del cliente </ion-title>
      <ion-buttons slot="end" >
        <ion-button class="back_color" ><i class="fas fa-pen"></i></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<!-- ----------------------------------------------------------------------- -->

<!-- -------------------------- Contenido de card -------------------------- -->

  <ion-content style="color: black;">
    <h2 style="color: black;">Información general</h2>
    
    <div class="col-12">
      <!-- ------------------------------- estatus ------------------------------- -->
      <div class="row" style="border-bottom:solid 1px gray ; color: black;">
        <div class="col-6">Estatus del cliente</div>
        <div class="col-6">Estado del cliente</div>
        <div class="col-6 d-inline-flex">
          <p class="m-0 p-info-estatus-1" style="margin-right: 5px;">OPORTUNO</p> 
          <p class="m-0 p-info-estatus-2">ACTIVO</p> 
        </div>
        <div class="col-6">Interés preliminar</div>
      </div>
      <!-- ----------------------------------------------------------------------- -->

      <!-- ---------------------------- info general ----------------------------- -->
      <div class="row" style="border-bottom:solid 1px gray ; color: black;">
        <div class="col-6">Teléfono</div>
        <div class="col-6">Correo electrónico</div>
        <div class="col-6 d-inline-flex">
          5546247890
        </div>
        <div class="col-6">
          ejemplo@adryo.com
        </div>
      </div>
      <!-- ----------------------------------------------------------------------- -->

      <!-- ---------------------- tipo y forma de contacto ----------------------- -->
      <div class="row" style="border-bottom:solid 1px gray ; color: black;">
        <div class="col-6">Tipo de cliente</div>
        <div class="col-6">Forma de contacto</div>
        <div class="col-6 d-inline-flex">
          Final
        </div>
        <div class="col-6">Facebook</div>
      </div>
      <!-- ----------------------------------------------------------------------- -->
    </div>

      <h2 style="color: black;">Seguimiento</h2>

    <div class="col-12">
      <!-- ----------------------------- Seguimiento ----------------------------- -->
      <div class="row" style="border-bottom:solid 1px gray ; color: black;">
        <div class="col-12" style="    overflow: auto; max-height: 245px;">
          <div class="row"  style="border-bottom:solid 1px gray ; color: black;">
            <h5 style="font-weight: 600;">Super administrador cuenta Adryo</h5>
            <p class="m-0" style="font-size: 15px;">Cliente creado por usuario Super administrador cuenta demmo Adryo. Solicita infromación de Cumbre Herradura vía Facebook</p>
            <p class="m-0" style="font-size: 15px;">2022-08-18 20:50</p>
          </div>
          <div class="row"  style="border-bottom:solid 1px gray ; color: black;">
            <h5 style="font-weight: 600;">Super administrador cuenta Adryo</h5>
            <p class="m-0" style="font-size: 15px;">Cliente creado por usuario Super administrador cuenta demmo Adryo. Solicita infromación de Cumbre Herradura vía Facebook</p>
            <p class="m-0" style="font-size: 15px;">2022-08-18 20:50</p>
          </div>
          <div class="row"  style="border-bottom:solid 1px gray ; color: black;">
            <h5 style="font-weight: 600;">Super administrador cuenta Adryo</h5>
            <p class="m-0" style="font-size: 15px;">Cliente creado por usuario Super administrador cuenta demmo Adryo. Solicita infromación de Cumbre Herradura vía Facebook</p>
            <p class="m-0" style="font-size: 15px;">2022-08-18 20:50</p>
          </div>
          
          <div class="row"  style="border-bottom:solid 1px gray ; color: black;">
            <h5 style="font-weight: 600;">Super administrador cuenta Adryo</h5>
            <p class="m-0" style="font-size: 15px;">Cliente creado por usuario Super administrador cuenta demmo Adryo. Solicita infromación de Cumbre Herradura vía Facebook</p>
            <p class="m-0" style="font-size: 15px;">2022-08-18 20:50</p>
          </div>
          
          <div class="row"  style="border-bottom:solid 1px gray ; color: black;">
            <h5 style="font-weight: 600;">Super administrador cuenta Adryo</h5>
            <p class="m-0" style="font-size: 15px;">Cliente creado por usuario Super administrador cuenta demmo Adryo. Solicita infromación de Cumbre Herradura vía Facebook</p>
            <p class="m-0" style="font-size: 15px;">2022-08-18 20:50</p>
          </div>
        </div>     
      </div>
      <!-- ----------------------------------------------------------------------- -->
    </div>

      <h2 style="color: black;">Inmuebles de interés <i class="fas fa-plus-circle float-end" style="margin-right: 15px; color: #1e5b5a;"></i></h2>
      
    <div class="col-12">
      <!-- ------------------------ Inmuebles de interes ------------------------- -->
      <div class="row" style="border-bottom:solid 1px gray ; color: black;">
        <div class="col-12">Despartamento A012-CH</div>       
      </div>
      <!-- ----------------------------------------------------------------------- -->
    </div>

      <h2 style="color: black;">Desarrollos de interés <i class="fas fa-plus-circle float-end" style="margin-right: 15px; color: #1e5b5a;"></i></h2>
      
    <div class="col-12">
      <!-- ----------------------- Desarrollos de interes ------------------------ -->
      <div class="row" style="border-bottom:solid 1px gray ; color: black;">
        <div class="col-12">Cumbres Herradura</div>
        
      </div>
      <!-- ----------------------------------------------------------------------- -->
    </div>

    <div class="col-12">
      <!-- ------------------------------- Extras -------------------------------- -->
      <div class="row" style=" color: black; margin-top: 15px;">
        <div class="col-4 text-center"><p class="icon-card-extra"><i class="fas fa-phone-alt"></i></p> <p>Lamada</p></div>
        <div class="col-4 text-center"><p class="icon-card-extra"><i class="fas fa-comment-alt-edit"></i></p> <p>Añadir nota</p></div>       
        <div class="col-4 text-center"><p class="icon-card-extra"><i class="fas fa-book-open"></i></p> <p>Eventos</p></div>
      </div>
      <!-- ----------------------------------------------------------------------- -->

    </div>
  </ion-content>

<!-- ----------------------------------------------------------------------- -->

<!-- ------------------------- Barra de navegacion ------------------------- -->

  <ion-tabs class="navigationBar">

    <ion-tab-bar slot="bottom" class="cont-navigation">
      
      <ion-tab-button routerLink="/properties">
        <i class="fas fa-home-lg"></i>   
      </ion-tab-button>

      <ion-tab-button routerLink="/client-list">
        <i class="fas fa-user-friends"></i>  
      </ion-tab-button>

      <ion-tab-button routerLink="/sales-funnel">
        <i class="fas fa-filter"></i>  
      </ion-tab-button>

      <ion-tab-button routerLink="/calendar">
        <i class="fas fa-calendar-alt"></i>
      </ion-tab-button>
      
    </ion-tab-bar>

  </ion-tabs>

<!-- ----------------------------------------------------------------------- -->